<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: rgb(36, 36, 36);
            margin: 0;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            color: white;
            text-align: center;
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>

<body>
    <h1>@.@</h1>
    <p>It looks like the page did an oppsie. </p>
</body>

</html>