<!DOCTYPE html>
<html>

<head>
	<link href="css/history.css" rel="stylesheet">
</head>

<body>
	<h1>Felida Browser</h1>
	<img src="../assets/icon.png" width="100" height="100" align=right>
	<div class="table" id="if-empty">
		<h1>Title</h1>
		<div class="table-title" id="title"></div>
		<h1>URL</h1>
		<div class="table-url" id="url"></div>
	</div>
	<script>
		const { ipcRenderer } = require('electron');

		// src: https://stackoverflow.com/questions/847185/convert-a-unix-timestamp-to-time-in-javascript
		function convertUnixToFormat(unix) {
			let date = new Date(unix * 1000);
			let hours = date.getHours();
			let minutes = "0" + date.getMinutes();
			let seconds = "0" + date.getSeconds();
			let formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
			return formattedTime;
		}

		ipcRenderer.once('historydata', (event, data) => {
			let title = document.getElementById("title")
			let url = document.getElementById("url")
			let splitted = data.split('\r\n')
			splitted = splitted.slice(0, splitted.length - 1)
			if (splitted.length > 1) {
				//document.getElementById("if-empty").innerHTML = "<p>Looks like your history is clean!</p>"
			}
			for (let i = 0; i < splitted.length; i++) {
				switch (i % 3) {
					case 0:
						//ele.innerHTML += `Time: ${convertUnixToFormat(splitted[i])} | `
						break;

					case 1:
						title.innerHTML += `<p class="table-title-value">${splitted[i]}</p>`
						break;

					case 2:
					    url.innerHTML += `<p class="table-url-value">${splitted[i]}</p><br />`
						break;
				}
			}
		})
		ipcRenderer.send('historydata');
	</script>
</body>

</html>