<!DOCTYPE html>
<html>

<head>
    <title>Felida Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="shortcut icon" type="image/png" href="./../assets/icon.png" />
</head>

<body>
    <div id="nav-head"></div>
    <div class="section">
        <div id="clock"></div>
        <div id="items">
            <a href="https://www.youtube.com" class="item">YouTube</a>
            <a href="https://www.twitter.com" class="item">Twitter</a>
        </div>
    </div>
    <h1>Felida Browser</h1>
    <p>Welcome to the browser!</p>
    <img src="./../assets/icon.png" width="200px" height="200px" class="cool" id="XD"><br><br>
    <input id="search" type="text" placeholder="Search with DuckDuckGo"><br><br>
    <p>Felida Browser is a lightweight Chromium browser using <a href="https://electronjs.org">ElectronJS</a></p>
    <p>Made by <a href="https://youtube.com/catnowblue">CatNowBlue</a> and <a
            href="https://github.com/raluvy95/felidabrowser">the contributors</a>!
    <p>
</body>
<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var timeString = hours + ":" + formatTimeComponent(minutes) + ":" + formatTimeComponent(seconds);
        document.getElementById("clock").textContent = timeString;
    }

    function formatTimeComponent(time) {
        return time < 10 ? "0" + time : time;
    }

    setInterval(updateClock, 1000);

    document.getElementById("search").addEventListener("keypress", (event) => {
        if (event.keyCode === 13) {
            const query = document.getElementById("search")
            window.location.href = `https://duckduckgo.com/?q=${encodeURIComponent(query.value)}`
        }
    })
    document.onload = () => {
        console.log("lol")
    }
    document.getElementById("XD").addEventListener("click", () => {
        let randInt = Math.floor(Math.random() * 4)
        if (randInt == 0) {
            randInt = ''
        } else if (randInt == 4) {
            randInt = ''
        }
        document.getElementsByTagName("body")[0].style.backgroundImage = `url("./../assets/defbg${randInt}.png")`
    })
</script>

</html>
