<!DOCTYPE html>
<html>

<head>
    <title>Felida Browser</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div id="nav-head"></div>
    <h1>Felida Browser</h1>
    <p>Welcome to the browser!</p>
    <img src="./../assets/icon.png" width="200px" height="200px" class="cool"><br><br><br>
    <p>Felida Browser is a lightweight Chromium browser using <a href="https://electronjs.org">ElectronJS</a></p>
    <br><br><br>
    <p>Made by <a href="https://youtube.com/catnowblue">CatNowBlue</a> • Fork me on <a
            href="https://github.com/raluvy95/felidabrowser">GitHub!</a>
    <p>
    <footer class="small">Source: <a href="https://wallpaperaccess.com/purple-mountain">this</a></footer>
</body>

</html>
