<!DOCTYPE html>
<html>

<head>
    <title>Felida Browser</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="shortcut icon" type="image/png" href="./../assets/icon.png" />
</head>

<body>
    <div id="nav-head"></div>
    <h1>Felida Browser</h1>
    <p>Welcome to the browser!</p>
    <img src="./../assets/icon.png" width="200px" height="200px" class="cool" id="XD"><br><br>
    <input id="search" type="text" placeholder="Search with DuckDuckGo"><br><br>
    <p>Felida Browser is a lightweight Chromium browser using <a href="https://electronjs.org">ElectronJS</a></p>
    <p>Made by <a href="https://youtube.com/catnowblue">CatNowBlue</a> and <a
        href="https://github.com/raluvy95/felidabrowser">the contributors</a>!
    <p>
</body>
<script>
    document.getElementById("search").addEventListener("keypress", (event) => {
        if (event.keyCode === 13) {
            const query = document.getElementById("search")
            window.location.href = `https://duckduckgo.com/?q=${encodeURIComponent(query.value)}`
        }
    })
    document.onload = () => {
        console.log("lol")
    }
    document.getElementById("XD").addEventListener("click", () => {
        let randInt = Math.floor(Math.random() * 4)
        if(randInt == 0) {
            randInt = ''
        } else if(randInt == 4) {
            randInt = ''
        }
        document.getElementsByTagName("body")[0].style.backgroundImage = `url("./../assets/defbg${randInt}.png")`
    })
</script>

</html>