<!DOCTYPE html>
<html>

<head>
    <script>
        function close() {
            page.close()
        }
        function go() {
            const str = document.getElementById("go")
            if (!str) {
                document.getElementById("alert").innerHTML = "Please type any URL or query"
            }
            function checkURL() {
                return str.startsWith("https://") || str.startsWith("http://")
            }
            str = checkURL() ? str : "https://google.com/search?q=" + str
            win.emit('app-command', 'z', 'go', str)
        }
    </script>
</head>

<body>
    <h1>Search an adress URL</h1>
    <p id="alert">If there's no URL, it will search with Google.</p>
    <input type="text" id="go">
    <button onclick="close()">Cancel</button>
    <button onclick="go()">Go</button>
</body>

</html>