<html>

<head>
	<link href="css/materialIconsRound.css" rel="stylesheet">
	<link href="css/chrome-tabs.css" rel="stylesheet">
	<!--	<link href="css/chrome-tabs-dark-theme.css" rel="stylesheet"> -->
	<link href="css/tabs.css" rel="stylesheet">
	<script>
		window.nodeRequire = require;
		delete window.require;
		delete window.exports;
		delete window.module;
	</script>
	<script>
		const { ipcRenderer } = nodeRequire('electron');
		let URLInput = null;
		let TabsDiv = null;
		let el = null;
		let chromeTabs = null;
		let selectedTab = -1;
		let waitingID = null;
		let forwardBtn = null;
		let backwardBtn = null;

		let actualURL = '';

		ipcRenderer.on('setSelectedTab', (event, tabId) => {
			selectedTab = tabId;
			if (document.getElementById(tabId) != null) { chromeTabs.setCurrentTab(document.getElementById(tabId)) }
		})

		ipcRenderer.on('newURL', (event, tabId, newURL) => {
			if (selectedTab == tabId) {
				document.getElementById('URLInput').value = newURL;
			}
		})

		ipcRenderer.on("refresh", (event) => { ipcRenderer.send("refresh"); })

		ipcRenderer.on('updatesettings', (event, d) => {
			console.log(d)
			if (d.color) {
				document.getElementById("bgTab").style.backgroundColor = d.color
			}
		})

		window.addEventListener('DOMContentLoaded', (event) => {
			URLInput = document.getElementById('URLInput');
			TabsDiv = document.getElementById('tabs');
			forwardBtn = document.getElementById("navFwd");
			backwardBtn = document.getElementById("navBack");
			refreshBtn = document.getElementById("refresh");

			URLInput.addEventListener("keyup", function (event) {
				if (event.keyCode === 13) // if enter
				{
					event.preventDefault();
					let url = URLInput.value;
					if (!validURL(url) && !url.startsWith("chrome://") && !url.startsWith("file://")) {
						const defEngine = ipcRenderer.sendSync("getDefaultSearchEngine")
						console.log(defEngine)
						let search = "https://google.com/search?q="
						switch (defEngine) {
							case 'google':
								search = "https://google.com/search?q="
								break;
							case 'ddg':
								search = "https://duckduckgo.com/?q="
								break;
							case 'bing':
								search = "https://www.bing.com/search?q="
								break;
							case 'yahoo':
								search = "https://search.yahoo.com/search?p="
								break;
							default:
								search = "https://google.com/search?q="
								break;
						}
						url = search + encodeURIComponent(URLInput.value);
					}
					ipcRenderer.send('goURL', url);
				}
			});

			el = document.querySelector('.chrome-tabs')
			chromeTabs = new ChromeTabs()

			chromeTabs.init(el)

			el.addEventListener('activeTabChange', ({ detail }) => {
				if (selectedTab != detail.tabEl.id) {
					setSelectedTab(detail.tabEl.id)
				}
			})

			el.addEventListener('tabAdd', ({ detail }) => {
				if (waitingID != null) {
					detail.tabEl.id = waitingID;
					waitingID = null;
				}
			})
			el.addEventListener('tabRemove', ({ detail }) => { closeTab(detail.tabEl.id) })
			newTab()
			
			function checkData() {
				let data = ipcRenderer.sendSync('checkData')
				if (data != null) {
					// TODO: may need more optimization
					// https://stackoverflow.com/questions/34913675/how-to-iterate-keys-values-in-javascript
					for (const [k1, v1] of Object.entries(data)) {
						switch (k1) {
							case 'canGoBack':
								if (v1 == backwardBtn.hasAttribute('inactive')) backwardBtn.toggleAttribute('inactive')
								break;

							case 'canGoForward':
								if (v1 == forwardBtn.hasAttribute('inactive')) forwardBtn.toggleAttribute('inactive')
								break;

							case 'isLoading':
								if (v1 != refreshBtn.hasAttribute('inactive')) refreshBtn.toggleAttribute('inactive');
								try {
									if (v1) {
										const ID = Object.keys(data).filter(m => !isNaN(m))
										const tabs = data[ID] // finds ID from object
										chromeTabs.updateTab(document.getElementById(ID), { 'favicon': '../assets/loading.gif', 'title': tabs.title });
									} else {
										// nothing to do
									}
								} catch { } // no more annoying error xd
								break;
							/*
							TODO: Add another animated favicon for waiting for response.
							case 'isConnecting':
							    const ID = Object.keys(data).filter(m => !isNaN(m))
								const stillConnecting = document.getElementById(ID)
								if(stillConnecting == null) break;
								const isSameIcon = stillConnecting.querySelector(".chrome-tab-favicon").getAttribute("style").toString()
								.replace('background-image: url("', '')
								const tabs = data[ID]
								if(isSameIcon == tabs.favicon + '");') break;
								else {
									if()
									chromeTabs.updateTab(document.getElementById(ID), { 'favicon': '../assets/connecting.gif', 'title': tabs.title });
								}
								break;
							*/
							default:
								console.log(data)
								let f = null
								for (const [k2, v2] of Object.entries(v1)) {
									switch (k2) {
										case 'title':
											f = v1.favicons; if (f != null) f = f[0];
											chromeTabs.updateTab(document.getElementById(k1), { 'title': v2, 'favicon': f })
											break;

										case 'favicons':
											f = v2; if (f != null) f = f[0];
											chromeTabs.updateTab(document.getElementById(k1), { 'favicon': f, 'title': v1.title })
											break;

										default:
											console.log(`Got unknown information for ${k1}:`, k2, ' in ', v1)
											console.log(`Full incoming data: `, data)
											break;
									}
								}
								break;
						}
					}
				}

				setTimeout(checkData, 1)
			}
			checkData()
		})

		// src: https://stackoverflow.com/questions/5717093/check-if-a-javascript-string-is-a-url
		function validURL(str) {
			var pattern = new RegExp('^(https?:\\/\\/)?' +
				'((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' +
				'((\\d{1,3}\\.){3}\\d{1,3}))' +
				'(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' +
				'(\\?[;&a-z\\d%_.~+=-]*)?' +
				'(\\#[-a-z\\d_]*)?$', 'i');
			return !!pattern.test(str);
		}
		function goBack() {
			ipcRenderer.send("goBack", selectedTab)
		}
		function goFwd() {
			ipcRenderer.send("goForward", selectedTab)
		}
		function refresh() {
			ipcRenderer.send("refresh", selectedTab)
		}
		function closeTab(id) {
			if (document.getElementById(id) != null) chromeTabs.removeTab(document.getElementById(id))
			ipcRenderer.send('closeTab', id)
		}
		/*function menu(id) {
			const coxMenu = document.createElement("div")
			coxMenu.setAttribute("class", "contextMenu")
			const close = document.createElement("button")
			close.innerHTML = "Close"
			close.setAttribute("onclick", `closeTab(${id});`)
			close.setAttribute("id", "closeTab")
			coxMenu.appendChild(close)
			document.getElementById("tabs").appendChild(coxMenu)
			return false;
		}*/
		function newTab() {
			let id = ipcRenderer.sendSync('newTab')

			waitingID = id // We let know, so whenever tabAdd event will be fired (that means tab was created proparly) we set it ID
			chromeTabs.addTab({
				title: 'New Tab',
				favicon: false
			})

			setSelectedTab(id)
		}

		function setSelectedTab(id) {
			ipcRenderer.send('setSelectedTab', id);
		}

		function updateURL() {
			URLInput = document.getElementById('URLInput');
			if (URLInput == null) return
			let url = ipcRenderer.sendSync('getURL', selectedTab)
			if (actualURL != url) {
				actualURL = url;
				URLInput.value = url;
			}
		}
		function moremenu() { ipcRenderer.send("moremenu") }
		setInterval(updateURL, 100)
	</script>
	<script src="https://unpkg.com/draggabilly@2.2.0/dist/draggabilly.pkgd.min.js"></script>
	<script src="js/chrome-tabs.js"></script>
</head>

<body>
	<!-- An actual tabs -->
	<div class="chrome-tabs" id="bgTab">
		<div class="chrome-tabs-content"></div>
		<div class="chrome-tabs-bottom-bar"></div>
	</div>
	<!-- Navigation buttons (it's not tabs lol)-->
	<div id="tabs" class="tabs">
		<button title="Back" class="nav" id="navBack" onclick="goBack();"><span class="material-icons-round">
				arrow_back
			</span></button>
		<button title="Forward" class="nav" id="navFwd" onclick="goFwd();"><span class="material-icons-round">
				arrow_forward
			</span></button>
		<button title="Refresh" class="nav" id="refresh" onclick="refresh();"><span class="material-icons-round"
				id="refresh">
				refresh
			</span></button>
		<button title="New Tab" class="nav" onclick="newTab()"><span class="material-icons-round"
				style="font-family: 10px;">
				add
			</span></button>
		<input style="width: 85%" onclick="this.setSelectionRange(0, this.value.length)" id="URLInput"
			placeholder="Search Google or type a URL here"></input>
		<button title="More" class="nav" onclick="moremenu()"><span class="material-icons-round"
				style="font-family: 10px;">
				more_vert
			</span></button>
		</button>
		<!-- this will have adblock button -->
	</div>
	
	<div id="bookmarks" class="bookmarks">
		<button onclick="ipcRenderer.send('goURL', 'https://youtube.com');">Test bookmark</button>
	</div>

	</div>
</body>

</html>
