body {
    background-color: rgb(36, 36, 36);
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
	padding: 0px;
    margin: 0px; 
	background-image: url("./../../assets/defbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
    background-size: cover;
}
a {
	text-decoration: none;
	color: #f694ff;
}
.small {
	position:absolute;
    bottom: 5px;
    right:0;
	margin: 10px;
}
.cool {
	box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.75);
	border-radius: 50%;
	transition: transform 2s;
}
.settings {
	position: absolute;
	right: 32px;
	transition: transform 0.5s;
	cursor: pointer;
}
.settings:hover {
	transform: rotate(90deg);
}
.cool:hover {
    transform: rotate(360deg);
}