p {
	display: inline-block;
}

body {
	background-color: rgb(19, 19, 19);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

span {
	display: none;
}

.tab {
	display: inline-block;
	background-color: rgb(19, 19, 19);
}

.tabs {
	position: relative;
}

.tabs .nav, .plus {
	background-color: rgb(19, 19, 19);
	margin: 0px;
	padding: 3px;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 50%;
	transition: background-color 0.5s;
}

.tabs .nav[inactive] {
	color: rgb(122, 122, 122);
}

.tabs .nav:hover:not(.nav[inactive]) {
	background-color: rgb(82, 82, 82);
}

.tabs button:hover:not([inactive]) {
	background-color: #575757;
}


.tabs {
	color: white;
	transition: background-color 0.5s;
}

.contextMenu {
	position: absolute;
	background-color: rgb(99, 99, 99);
	color: white;
}

input {
	position: sticky;
	margin: 0px;
	padding: 6px;
	border: none;
	border-radius: 20px;
	background-color: rgb(46, 46, 46);
	color: white;
}

#goButton {
	padding: 0px;
	background-color: rgb(70, 70, 70);
	text-decoration: none;
	border: none;
	color: white;
	transition: background-color 0.5s;
}

#goButton:hover {
	cursor: pointer;
	background-color: rgb(66, 255, 94);
}